version: '3.8'

services:

  backend:
    build: .
    ports:
      - "3000:3000"
    environment:
      PGHOST: postgres
      PGUSER: postgres
      PGPASSWORD: sisgea123
      PGDATABASE: vendasdb
      PGPORT: 5432
    depends_on:
      - postgres

  postgres:
    image: postgres:15
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: sisgea123
      POSTGRES_DB: vendasdb
    ports:
      - "5432:5432"
    volumes:
      - ./criardb.sql:/docker-entrypoint-initdb.d/criardb.sql
      - postgres_data:/var/lib/postgresql/data

  prometheus:
    image: prom/prometheus
    ports:
      - "9090:9090"
    volumes:
      - ./prometheus.yml:/etc/prometheus/prometheus.yml
    depends_on:
      - backend

  grafana:
    image: grafana/grafana
    ports:
      - "3001:3000"
    environment:
      GF_SECURITY_ADMIN_PASSWORD: admin
    depends_on:
      - prometheus
      - postgres

  node-exporter:
    image: prom/node-exporter
    ports:
      - "9100:9100"

volumes:
  postgres_data:
